@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트 모드 기본 */
html.light {
  @apply bg-slate-50 text-slate-900;
}

/* 다크 모드 기본 */
html.dark {
  @apply bg-slate-950 text-slate-50;
}

/* 전체 페이지 기본 설정 */
body {
  @apply min-h-screen bg-transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
